In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
subwayfee = pd.read_csv("./data/subwayfee.csv", encoding='ansi')
df = pd.read_csv("./data/subwaytime.csv", encoding='ansi')
df

,사용월,호선명,역ID,지하철역,04:00:00~04:59:59,Unnamed: 5,05:00:00~05:59:59,Unnamed: 7,06:00:00~06:59:59,Unnamed: 9,...,23:00:00~23:59:59,Unnamed: 43,00:00:00~00:59:59,Unnamed: 45,01:00:00~01:59:59,Unnamed: 47,02:00:00~02:59:59,Unnamed: 49,03:00:00~03:59:59,Unnamed: 51
0,NaN,NaN,NaN,NaN,승차,하차,승차,하차,승차,하차,...,승차,하차,승차,하차,승차,하차,승차,하차,승차,하차
1,2019-01,1호선,150.0,서울역,927,22,10682,8774,13504,45545,...,33149,19442,3612,7167,0,410,0,0,0,0
2,2019-01,1호선,151.0,시청,74,0,2409,4049,3532,19241,...,14478,4079,981,1256,3,29,0,0,0,0
3,2019-01,1호선,152.0,종각,100,8,4409,5105,4593,26969,...,54264,5560,4886,1722,0,0,0,0,0,0
4,2019-01,1호선,153.0,종로3가,122,4,5061,2520,3876,12832,...,25970,5503,3214,2471,0,52,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,2019-01,우이신설선,4709.0,북한산보국문,5,3,1907,561,6026,2270,...,1450,6536,450,1940,0,0,0,0,0,0
595,2019-01,우이신설선,4710.0,정릉,3,0,1508,625,4799,1809,...,869,3595,287,1133,0,0,0,0,0,0
596,2019-01,우이신설선,4711.0,성신여대입구(돈암),2,0,769,281,1172,931,...,3149,2152,648,662,0,0,0,0,0,0
597,2019-01,우이신설선,4712.0,보문,0,0,407,190,770,928,...,575,1179,135,456,0,1,0,0,0,0
598,2019-01,우이신설선,4713.0,신설동,17,1,574,725,737,1630,...,882,712,195,590,1,78,0,0,0,0

In [20]:
df["Unnamed: 7"]

0        하차
1      8774
2      4049
3      5105
4      2520
       ...
594     561
595     625
596     281
597     190
598     725
Name: Unnamed: 7, Length: 599, dtype: object

In [21]:
df = df.set_index("지하철역")

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 599 entries, nan to 신설동
Data columns (total 51 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   사용월                598 non-null    object
 1   호선명                598 non-null    object
 2   역ID                598 non-null    float64
 3   04:00:00~04:59:59  599 non-null    object
 4   Unnamed: 5         599 non-null    object
 5   05:00:00~05:59:59  599 non-null    object
 6   Unnamed: 7         599 non-null    object
 7   06:00:00~06:59:59  599 non-null    object
 8   Unnamed: 9         599 non-null    object
 9   07:00:00~07:59:59  599 non-null    object
 10  Unnamed: 11        599 non-null    object
 11  08:00:00~08:59:59  599 non-null    object
 12  Unnamed: 13        599 non-null    object
 13  09:00:00~09:59:59  599 non-null    object
 14  Unnamed: 15        599 non-null    object
 15  10:00:00~10:59:59  599 non-null    object
 16  Unnamed: 17        599 non-null    object
 17  11:00:00~11:59:59  599 non-null    object
 18  Unnamed: 19        599 non-null    object
 19  12:00:00~12:59:59  599 non-null    object
 20  Unnamed: 21        599 non-null    object
 21  13:00:00~13:59:59  599 non-null    object
 22  Unnamed: 23        599 non-null    object
 23  14:00:00~14:59:59  599 non-null    object
 24  Unnamed: 25        599 non-null    object
 25  15:00:00~15:59:59  599 non-null    object
 26  Unnamed: 27        599 non-null    object
 27  16:00:00~16:59:59  599 non-null    object
 28  Unnamed: 29        599 non-null    object
 29  17:00:00~17:59:59  599 non-null    object
 30  Unnamed: 31        599 non-null    object
 31  18:00:00~18:59:59  599 non-null    object
 32  Unnamed: 33        599 non-null    object
 33  19:00:00~19:59:59  599 non-null    object
 34  Unnamed: 35        599 non-null    object
 35  20:00:00~20:59:59  599 non-null    object
 36  Unnamed: 37        599 non-null    object
 37  21:00:00~21:59:59  599 non-null    object
 38  Unnamed: 39        599 non-null    object
 39  22:00:00~22:59:59  599 non-null    object
 40  Unnamed: 41        599 non-null    object
 41  23:00:00~23:59:59  599 non-null    object
 42  Unnamed: 43        599 non-null    object
 43  00:00:00~00:59:59  599 non-null    object
 44  Unnamed: 45        599 non-null    object
 45  01:00:00~01:59:59  599 non-null    object
 46  Unnamed: 47        599 non-null    object
 47  02:00:00~02:59:59  599 non-null    object
 48  Unnamed: 49        599 non-null    object
 49  03:00:00~03:59:59  599 non-null    object
 50  Unnamed: 51        599 non-null    object
dtypes: float64(1), object(50)
memory usage: 243.3+ KB

In [23]:
df.head()

,사용월,호선명,역ID,04:00:00~04:59:59,Unnamed: 5,05:00:00~05:59:59,Unnamed: 7,06:00:00~06:59:59,Unnamed: 9,07:00:00~07:59:59,...,23:00:00~23:59:59,Unnamed: 43,00:00:00~00:59:59,Unnamed: 45,01:00:00~01:59:59,Unnamed: 47,02:00:00~02:59:59,Unnamed: 49,03:00:00~03:59:59,Unnamed: 51
지하철역,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,승차,하차,승차,하차,승차,하차,승차,...,승차,하차,승차,하차,승차,하차,승차,하차,승차,하차
서울역,2019-01,1호선,150.0,927,22,10682,8774,13504,45545,39110,...,33149,19442,3612,7167,0,410,0,0,0,0
시청,2019-01,1호선,151.0,74,0,2409,4049,3532,19241,7703,...,14478,4079,981,1256,3,29,0,0,0,0
종각,2019-01,1호선,152.0,100,8,4409,5105,4593,26969,6733,...,54264,5560,4886,1722,0,0,0,0,0,0
종로3가,2019-01,1호선,153.0,122,4,5061,2520,3876,12832,6066,...,25970,5503,3214,2471,0,52,0,0,0,0

In [ ]:
# 전처리
# 출근시간에 승차인원이 가장 많은 역과 하차인원이 가장 많은 역을 출력하시오

In [25]:
df.dropt(0. inplace=True)

SyntaxError: invalid syntax (Temp/ipykernel_10468/142262429.py, line 1)

In [26]:
df.drop(['사용월','역'])

KeyError: "['사용월' '역'] not found in axis"

In [27]:
df = df.set_index("지하철역")

KeyError: "None of ['지하철역'] are in the columns"

In [28]:
for c in df.columns:
    df[c] = df[c].astype('float')

ValueError: could not convert string to float: '2019-01'